---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./blog/*.md");

function groupPostsByYearAndMonth(posts) {
  const grouped = {};

  posts.forEach((post) => {
    const [year, month] = post.frontmatter.pubDate.split("-").map(Number);

    const key = `${year}-${String(month).padStart(2, "0")}`;
    if (!grouped[key]) {
      grouped[key] = [];
    }
    grouped[key].push(post);
  });

  return grouped;
}

const groupedPosts = groupPostsByYearAndMonth(allPosts);

const sortedKeys = Object.keys(groupedPosts).sort((a, b) => b.localeCompare(a));

const monthNames = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
---

<BaseLayout title="Blog Posts - Andrew Moses">
  <ul class="post-list">
    {
      sortedKeys.map((key) => {
        const [year, month] = key.split("-");
        const monthName = monthNames[parseInt(month, 10) - 1];

        return (
          <li key={key}>
            <h3 class="month-year">
              {monthName} {year}
            </h3>
            <ul>
              {groupedPosts[key].map((post) => (
                <li class="post-element">
                  <a href={post.url}>
                    <div class="post-title">
                      {post.frontmatter.bestof && (
                        <i class="fa fa-star" style="padding-right: 2px;" />
                      )}
                      <h2 class="lower">{post.frontmatter.title}</h2>
                    </div>
                    <i class="lower subtitle">{post.frontmatter.subtitle}</i>
                  </a>
                </li>
              ))}
            </ul>
          </li>
        );
      })
    }
  </ul>
  <a href="/" class="back-link">← Back to home</a>
</BaseLayout>

<style>
  .blog-link,
  .blog-link i {
    color: #f0e7d8;
    text-decoration: none;
    transition: color 0.2s ease;
    text-decoration: underline;
  }

  .blog-link:hover,
  .blog-link:hover i {
    color: #ffaaaa;
  }

  .lower {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 7px;
  }

  .post-title {
    display: flex;
    align-items: center;
  }

  .post-element {
    margin-bottom: 0px;
  }

  .post-title i.fa-star {
    vertical-align: middle;
    margin-bottom: 7px;
    margin-right: 7px;
  }

  .post-element a {
    display: block;
    color: #f0e7d8;
    text-decoration: none;
    transition: color 0.2s;
    padding: 10px;
  }

  .post-element a h2 {
    text-decoration: underline;
    transition: color 0.2s;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .post-element a i.subtitle {
    margin-bottom: 10px;
    display: block;
  }

  .post-element a .post-meta {
    margin-top: 10px;
  }

  .post-element a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffaaaa;
  }

  .post-element a:hover h2,
  .post-element a:hover i,
  .post-element a:hover .post-meta,
  .post-element a:hover .post-meta i {
    color: #ffaaaa;
  }

  .post-element a:hover h2 {
    text-decoration: underline;
  }

  .post-element a h2,
  .post-element a i,
  .post-element a .post-meta,
  .post-element a .post-meta i {
    transition: color 0.2s;
  }

  .back-link {
    color: #f0e7d8;
    text-decoration: none;
    transition: color 0.2s;
  }

  .back-link:hover {
    text-decoration: underline;
    color: #ffaaaa;
  }

  .month-year {
    margin-top: 5px;
    margin-bottom: 4px;
  }
</style>
