---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const hasTags = frontmatter.tags && frontmatter.tags.length > 0;
const imgLink = `${Astro.url.origin}/og${Astro.url.pathname.replace(/\/$/, "")}.png`;
const hasDiscussion = frontmatter.discussion && frontmatter.discussion_link;
---

<BaseLayout
  imgLink={imgLink}
  title={frontmatter.title}
  description={frontmatter.description}
>
  <div slot="outside-content" class="top">
    <p class="blog-title">{frontmatter.title}</p>
    <p class="description">{frontmatter.description}</p>
    <p class="others">
      <i class="fa-solid fa-user fa-sm" style="padding-right: 2px;"></i>
      By {frontmatter.author || "Me"} | <i
        class="fa-regular fa-calendar fa-sm"
        style="padding-right: 2px;"></i>
      {frontmatter.pubDate || "Date Unknown"}
    </p>
    {
      hasTags && (
        <p class="tags">
          <i class="fa-solid fa-tag fa-sm" style="padding-right: 2px;" />
          Tags:
          {frontmatter.tags.map((tag) => (
            <a href={`/tags/${tag}`}>
              <code class="tag-code">{tag}</code>
            </a>
          ))}
        </p>
      )
    }

    {
      hasDiscussion && (
        <p class="discussion">
          <i class="fa-solid fa-comment" />
          Discussion:
          <a href={frontmatter.discussion_link} class="discussion-link">
            {frontmatter.discussion}
          </a>
        </p>
      )
    }

    <hr class="custom-hr" style="margin-top: 25px;" />
  </div>

  <div class="actual-content">
    <slot />
  </div>

  <script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <style>
    .blog-title {
      font-size: 2.4em;
      font-weight: bold;
      margin-top: 0.5em;
      margin-bottom: 0;
    }

    .description {
      font-size: 1.25em;
      margin-top: 0.2em;
      margin-bottom: 1em;
      font-style: italic;
    }

    .others {
      margin-bottom: 0;
    }

    code {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      white-space: break-spaces;
      background-color: #777f8a33;
      border-radius: 6px;
      color: white;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
      margin-right: 2px;
    }

    .tags {
      margin-top: 3px;
      margin-bottom: 0px;
    }

    .content {
      margin-top: 0px;
      padding-top: 0px;
    }

    .top {
      left-margin: 20px;
    }

    .tags a {
      text-decoration: none;
    }

    .tag-code {
      transition: background-color 0.2s;
    }

    .tag-code:hover {
      background-color: #555f6a;
    }

    .discussion {
      margin-top: 4px;
    }
  </style>
</BaseLayout>
